<ion-tabs>

  <ion-tab-bar slot="bottom" class="transparent-tabbar">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="running-class-list" href="/tabs/running-class-list">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="monitoring" href="/tabs/monitoring">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Monitoring</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" [routerLink]="['/tabs/tab3']" [queryParams]="{ localId: localId }">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Kegiatan</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" href="/tabs/account">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- FAB (Floating Action Button) -->
  <!-- <ion-fab slot="fixed" class="fab-center">
    <ion-fab-button color="primary">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="secondary" 
      [routerLink]="['/running-class']" 
      [queryParams]="{ localId: localId }">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="tertiary"
      [routerLink]="['/calendar']" 
      [queryParams]="{ localId: localId }">
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success">
        <ion-icon name="share-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab> -->
</ion-tabs>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabBar = document.querySelector(".transparent-tabbar");
    const tabButtons = document.querySelectorAll("ion-tab-button");

    tabButtons.forEach((button) => {
        button.addEventListener("click", function () {
            const selectedTab = this.getAttribute("tab");
            tabBar.setAttribute("data-active", selectedTab);
        });
    });
  });
</script>