<ion-menu side="end" contentId="main-content">
  <ion-header class="custom-header">
    <div class="header-content">
      <h3>Setting</h3>
    </div>
  </ion-header>
  <ion-content class="custom-content">
    <div class="menu-container">
      <div class="menu-item" (click)="closeMenu()">
        <ion-icon name="options-outline"></ion-icon>
        <span>Display</span>
      </div>
      <div class="menu-item" (click)="confirmLogout()">
        <ion-icon name="log-out-outline"></ion-icon>
        <span>Logout</span>
      </div>
    </div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="custom-header">
    <div class="header-content">
      <h3>Home</h3>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Header Cuaca -->
    <div class="weather-card">
      <h2>18°C</h2>
      <p>Cloudy</p>
      <p class="date">{{ hijriDate }}</p>
      <div class="weather-details">
        <span>Indoor temp: 23°C</span>
        <span>Humidity: 40%</span>
        <span>Air Quality: Good</span>
      </div>
    </div>
  

    <!-- Tab Navigasi -->
    <!-- <div class="tab-container">
      <button class="tab-button">Room</button>
      <button class="tab-button active">Devices</button>
    </div> -->

    <!-- Kartu Perangkat -->
    <!-- <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="device-card active">
            <ion-icon name="bulb-outline"></ion-icon>
            <h3>Smart Light</h3>
            <p>4 Lamps</p>
            <ion-toggle checked></ion-toggle>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="device-card">
            <ion-icon name="snow-outline"></ion-icon>
            <h3>Smart AC</h3>
            <p>2 Devices</p>
            <ion-toggle></ion-toggle>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <div class="device-card">
            <ion-icon name="tv-outline"></ion-icon>
            <h3>Smart TV</h3>
            <p>1 Device</p>
            <ion-toggle></ion-toggle>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="device-card">
            <ion-icon name="volume-high-outline"></ion-icon>
            <h3>Smart Speaker</h3>
            <p>2 Devices</p>
            <ion-toggle></ion-toggle>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-content>
</div>