<ion-header class="custom-header">
  <div class="header-content">
    <h3>To-do List</h3>
    <ion-icon name="save-outline" class="update-icon" (click)="saveTasksToFirebase()"></ion-icon>
  </div>
</ion-header>

<ion-content class="custom-content">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Kegiatan</th>
          <th *ngFor="let date of dates">{{ date }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.name }}</td>
          <td *ngFor="let date of dates">
            <ion-checkbox [(ngModel)]="task.checked[date]"></ion-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>