<ion-header>
  <ion-toolbar>
    <ion-title>Detail Running Class</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="doneButton()">Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card untuk informasi utama dengan gambar dan background -->
  <ion-card *ngIf="parentData" class="custom-card">
    <ion-card-header class="custom-card-header">
      <ion-card-title class="custom-title">{{ parentData.tempat }}</ion-card-title>
      <ion-card-subtitle>{{ parentData.tanggal | date:'longDate' }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="details">
        <p><strong>Selected Item:</strong> {{ parentData.selectedItem }}</p>
        <p><strong>Keterangan:</strong> {{ parentData.keterangan }}</p>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Daftar anak data (childData) -->
  <ion-list *ngIf="childData.length > 0" class="custom-list">
    <ion-item *ngFor="let child of childData">
      <ion-icon name="person-circle" slot="start" size="large" color="primary"></ion-icon>
      <ion-label>
        <h2>{{ child.nama }}</h2>
        <p>{{ child.keterangan }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Tombol untuk menambah presensi -->
  <ion-button expand="full" (click)="onAddPresence()" color="secondary">
    <ion-icon name="add-circle" slot="start"></ion-icon> Add Presence
  </ion-button>
</ion-content>