<ion-header class="custom-header">
  <div class="header-content">
    <h3>MONITORING</h3>
    <ion-icon name="search-outline" class="search-icon" (click)="search()"></ion-icon>
  </div>
</ion-header>

<ion-content class="custom-content">
  <div class="card-container">
    <div *ngFor="let user of users" class="user-card" (click)="goToCalendar(user.userId)">
      <div class="card-image">
        <img src="https://www.pngkey.com/png/detail/114-1149847_avatar-unknown-dp.png" alt="User Avatar" />
      </div>
      <div class="card-content">
        <h3>{{ user.nama }}</h3>
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</ion-content>