<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ userName || 'To-Do List Bulanan' }}</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button z>Simpan</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Kegiatan</th>
          <th *ngFor="let date of dates">{{ date }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks">
          <td>{{ task.name }}</td>
          <td *ngFor="let date of dates">
            <ion-checkbox [checked]="task.checked[date]" disabled></ion-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>

