.logo-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .app-logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .form-container {
    margin: 20px;
  }
  
  ion-item {
    margin: 10px 0;
  }
  
  .already-account {
    text-align: center;
    margin-top: 15px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  